<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
</head>
<body>
    <h1>Vehicles</h1>

    {% if error_msg %}
    <p style="color:red;">{{error_msg}}</p>
    {% endif %}

    <h2>All Vehicles</h2>
    <form method="GET">
        <label for="q">Search by vehicle type:</label>
        <input type="text" id="q" name="q" {% if query == None %} placeholder="Vehicle type..." {%else%} value="{{ query }}" {%endif%}>
        <button type="submit">Search</button>
    </form>

    <!-- All vehicle entities -->

     {%if user.is_staff%}
    <table border="1">
        <thead>
            <tr>
                <th>Driver</th>
                <th>Vehicle Type</th>
                <th>Total Passenger Capacity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
                    <td>
                    <select name="driver_volunteer">
                        <option value="" {% if not vehicle.driver_volunteer %} selected {% endif %}>Select Driver</option>
                        {% for volunteer in volunteers %}
                            <option value="{{ volunteer.id }}" {% if vehicle.driver_volunteer_id == volunteer.id %} selected {% endif %}>{{ volunteer.first_name }} {{ volunteer.last_name }}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td><input type="text" name="vehicle_type" value="{{ vehicle.vehicle_type }}"></td>
                    <td><input type="number" name="total_passenger_capacity" value="{{ vehicle.total_passenger_capacity }}"></td>
                    <td>
                        <button type="submit" name="edit">Save Edits</button>
                        <button type="submit" name="delete">Delete</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
    <table border="1">
        <thead>
            <tr>
                <th>Driver</th>
                <th>Vehicle Type</th>
                <th>Total Passenger Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                    <td>
                        {% for volunteer in volunteers %}
                            {% if vehicle.driver_volunteer_id == volunteer.id %} {{ volunteer.first_name }} {{ volunteer.last_name }} {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ vehicle.vehicle_type }}</td>
                    <td>{{ vehicle.total_passenger_capacity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}

    <!-- Data Summary -->
    <h2>Data Summary</h2>

    <h4>Number of vehicles of each type and their cumulative passenger capacity</h4>
    <table border="1">
        <thead>
            <tr>
                <th>Vehicle Type</th>
                <th>Number of Vehicles</th>
                <th>Cumulative Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for row in vehicles_per_type %}
            <tr>
                <td>{{ row.vehicle_type }}</td>
                <td>{{ row.num_vehicles }}</td>
                <td>{{ row.cum_capacity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if user.is_staff %}
    <!-- Add vehicle entity -->
    <h2>Add Vehicle</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="driver_volunteer">Driver:</label>
        <select id="driver_volunteer" name="driver_volunteer">
            <option value="">Select Driver</option>
            {% for volunteer in volunteers %}
            <option value="{{ volunteer.id }}">{{ volunteer.first_name }} {{ volunteer.last_name }}</option>
            {% endfor %}
        </select><br>
        <label for="vehicle_type">Vehicle Type:</label>
        <input type="text" id="vehicle_type" name="vehicle_type"><br>
        <label for="total_passenger_capacity">Total Passenger Capacity:</label>
        <input type="number" id="total_passenger_capacity" name="total_passenger_capacity"><br>
        <button type="submit" name="add">Add Vehicle</button>
    </form>
    {%endif%}

    <h2>Return to Main Page</h2>
    <button><a href="{% url 'foodbank:main_page' %}" style="text-decoration: none; color: black;">Main Page</a></button>

</body>
</html>
