<!-- volunteer.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteers</title>
</head>
<body>
    <h1>Volunteers</h1>
    <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for volunteer in volunteers %}
            <tr>
                <form method="POST" action="{% url 'volunteer_edit' %}">
                    {% csrf_token %}
                    <input type="hidden" name="volunteer_id" value="{{ volunteer.id }}">
                    <td><input type="text" name="first_name" value="{{ volunteer.first_name }}"></td>
                    <td><input type="text" name="last_name" value="{{ volunteer.last_name }}"></td>
                    <td><input type="text" name="street_address" value="{{ volunteer.street_address }}"></td>
                    <td><input type="text" name="city" value="{{ volunteer.city }}"></td>
                    <td><input type="text" name="home_state" value="{{ volunteer.home_state }}"></td>
                    <td><input type="text" name="zip_code" value="{{ volunteer.zip_code }}"></td>
                    <td><input type="text" name="phone_number" value="{{ volunteer.phone_number }}"></td>
                    <td><input type="text" name="email" value="{{ volunteer.email }}"></td>
                    <td><button type="submit" name="save">Save</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
